.item_content {

        h5 {
            margin: 0;
        }
    }

/* BOF Overlay Styles */
.latest-wrapper .cq_overlay.item_wrap, .latest-post-row .cq_overlay.item_wrap {
    position: relative;
    min-height: 400px;
    background-size: cover;
    background-position: center center;
    border-radius: 1rem;
    overflow: hidden;
}
.latest-wrapper .cq_overlay.item_wrap::before, .trending-posts .cq_overlay.item_wrap::before, .latest-post-row .cq_overlay.item_wrap::before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.1) 55%);
    background: -o-linear-gradient(bottom, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.1) 55%);
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.1) 55%);
    opacity: 0.7;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.latest-wrapper .cq_overlay.item_wrap:hover::before, .trending-posts .cq_overlay.item_wrap:hover::before, .latest-post-row .cq_overlay.item_wrap:hover::before {
    opacity: 1;
}
.latest-wrapper .cq_overlay .item_content, .trending-posts .cq_overlay .item_content, .latest-post-row .cq_overlay .item_content {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    color: #ffffff;
}
.latest-wrapper .cq_overlay .item_content a, .trending-posts .cq_overlay .item_content a, .latest-post-row .cq_overlay .item_content a {
    color: #ffffff;
}
.latest-wrapper > .cq_overlay > a > img, .latest-wrapper > .cq_overlay > a > img {
    display: none;
}
.latest-wrapper > .cq_overlay > a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.latest-wrapper .cq_overlay .item_content .cat-link, .trending-posts .cq_overlay .item_content .cat-link, .latest-post-row .cq_overlay .item_content .cat-link, .latest-wrapper .cq_to_side .item_content .cat-link, .directory-sponsored a.cat-link, .directory-featured .item_wrap .cat-link, #listing-wrapper .item_wrap .cat-link{
    display: inline-block;
    background-color: var(--category-colour);
    color: #ffffff;
    line-height: 0.75rem;
    font-size: 0.75rem;
    padding: 0.25rem 0.75rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    border-radius: 50px;
}
.latest-post-row .cq_overlay.item_wrap > a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/* EOF OVerlay Styles */

/* BOF CQ Standard Styles*/
.latest-wrapper .cq_standard, .latest-post-row .cq_standard {
    position: relative;
}
@media screen and (min-width: 768px) {
    .latest-wrapper:not(.archive-row) .cq_standard img {
        max-height: 246.666px;
        object-fit: cover
    } 
    .latest-wrapper.archive-row .cq_standard img {
        max-height: 180px;
        object-fit: cover
    } 
}
.latest-wrapper .cq_standard.col_3 > a > img {
    max-height: 300px;
    object-fit: cover;
}
.latest-wrapper .cq_standard .item_content .cat-link, .latest-post-row .cq_standard .item_content .cat-link {
    display: inline-block;
    color: #4292a2;
    line-height: 1rem;
    padding: 0;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 0.875rem;
}
.latest-wrapper .item_content .cat-link:hover, .latest-wrapper .item_content .cat-link:active, .latest-wrapper .item_content .cat-link:focus, .latest-post-row .item_content .cat-link:hover, .latest-post-row .item_content .cat-link:active, .latest-post-row .item_content .cat-link:focus {
    text-decoration: none;
}
.latest-wrapper .cq_overlay .item_content time, .latest-wrapper .cq_standard .item_content time, .trending-posts .cq_overlay .item_content time, .latest-post-row .cq_overlay .item_content time, .latest-post-row .cq_standard .item_content time {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.75rem;
    
    span {
        font-size: 1rem;
        font-weight: bold;
        margin-right: 0.5rem;
    }
}
.latest-wrapper .cq_standard .item_content h3, .latest-post-row .cq_standard .item_content h3 {
    font-size: 1.2rem;
}
.latest-wrapper .cq_standard .read-more, .latest-post-row  .cq_standard .read-more {
    color: #c95327;
    text-transform: uppercase;
    text-decoration: underline;
    position:absolute;
    bottom: 1rem;
    right: 1rem;
}
/*EOF CQ Standard Stlyes */

/* BOF to side styles */
.latest-wrapper  .cq_to_side .read-more {
    color: #c95327;
    text-transform: uppercase;
    text-decoration: none;
}
.latest-wrapper .cq_to_side {
    background-color: #ffffff;
}
.latest-wrapper .cq_to_side > .item_content time {
    margin-bottom: 1rem;
    display: block;
}
@media screen and (min-width: 768px) {
    .latest-wrapper .cq_to_side {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(12, 1fr);
        background-color: #ffffff;
    }
    .latest-wrapper .cq_to_side > a {
        grid-column: span 7;
    }
    .latest-wrapper .cq_to_side > a > img {
        object-fit: cover;
        min-width: 100%;
        width: 100%;
        height: 100%;
    }
    .latest-wrapper .cq_to_side > .item_content  {
        grid-column: span 5;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .latest-wrapper .cq_to_side > .item_content > .item_content_wrap {
       padding-right: 30%;
    }
    .latest-wrapper .cq_to_side > .item_content h3 {
        margin-bottom: 2rem;
    }
}
/* EOF to side styles */

@media screen and (max-width: 767px) {
    .latest-wrapper .cq_standard.item_wrap.mobile_view, .latest-wrapper .cq_overlay.item_wrap.mobile_view, .trending-posts .cq_overlay.item_wrap.mobile_view, .latest-post-row .cq_standard.item_wrap.mobile_view, .latest-post-row .cq_overlay.item_wrap.mobile_view, .trending-posts .cq_overlay.item_wrap.mobile_view {
        background-image: none !important;
        display: flex;
    }
    .latest-wrapper .cq_overlay.item_wrap.mobile_view, .trending-posts  .cq_overlay.item_wrap.mobile_view, .latest-post-row .cq_overlay.item_wrap.mobile_view {
        height: auto;
    }
    .latest-wrapper .cq_overlay.item_wrap.mobile_view::before, .trending-posts .cq_overlay.item_wrap.mobile_view::before, .latest-post-row .cq_overlay.item_wrap.mobile_view::before {
        background: none !important;
    }
    .latest-wrapper .cq_standard.item_wrap.mobile_view > a, .latest-wrapper .cq_overlay.item_wrap.mobile_view > a, .trending-posts .cq_overlay.item_wrap.mobile_view > a, .latest-post-row .cq_standard.item_wrap.mobile_view > a, .latest-post-row .cq_overlay.item_wrap.mobile_view > a {
        display: inherit !important;
        flex: 1;
    }
    .latest-wrapper .cq_standard.item_wrap.mobile_view > a > img, .latest-wrapper .cq_overlay.item_wrap.mobile_view > a > img, .trending-posts .cq_overlay.item_wrap.mobile_view > a > img, .latest-post-row .cq_standard.item_wrap.mobile_view > a > img, .latest-post-row .cq_overlay.item_wrap.mobile_view > a > img {
        display: inherit !important;
        object-fit: cover;
        height: 100%;
    }
    .latest-wrapper .cq_standard.item_wrap.mobile_view > .item_content, .latest-wrapper .cq_overlay.item_wrap.mobile_view > .item_content, .trending-posts .cq_overlay.item_wrap.mobile_view > .item_content, .latest-post-row .cq_standard.item_wrap.mobile_view > .item_content, .latest-post-row .cq_overlay.item_wrap.mobile_view > .item_content {
        position: relative;
        padding: 0 0 0 15px;
        flex: 2;
    }
    .latest-wrapper .cq_standard.item_wrap.mobile_view > .item_content > .cat-link, .latest-wrapper .cq_overlay.item_wrap.mobile_view > .item_content > .cat-link, .trending-posts .cq_overlay.item_wrap.mobile_view > .item_content > .cat-link, .latest-post-row .cq_standard.item_wrap.mobile_view > .item_content > .cat-link, .latest-post-row .cq_overlay.item_wrap.mobile_view > .item_content > .cat-link {
        margin: 0;
        padding: 0;
        background: none;
        color: #5790a0;
    }
    .latest-wrapper .cq_standard.item_wrap.mobile_view > .item_content > time, .latest-wrapper .cq_overlay.item_wrap.mobile_view > .item_content > time, .trending-posts .cq_overlay.item_wrap.mobile_view > .item_content > time, .latest-post-row .cq_standard.item_wrap.mobile_view > .item_content > time, .latest-post-row .cq_overlay.item_wrap.mobile_view > .item_content > time {
        margin-bottom: 1rem;
        padding: 0;
        color: #000;
    }
    .latest-wrapper .cq_standard.item_wrap.mobile_view > .item_content > h3, .latest-wrapper .cq_overlay.item_wrap.mobile_view > .item_content > h3, .latest-wrapper .cq_overlay.item_wrap.mobile_view > .item_content > h3 > a, .trending-posts .cq_overlay.item_wrap.mobile_view > .item_content > h3, .trending-posts .cq_overlay.item_wrap.mobile_view > .item_content > h3 > a, .latest-post-row .cq_standard.item_wrap.mobile_view > .item_content > h3, .latest-post-row .cq_overlay.item_wrap.mobile_view > .item_content > h3 {
        font-size: 1rem;
        color: #000;
    }
    .latest-wrapper .cq_standard.item_wrap.mobile_view > .read-more, .latest-wrapper .cq_overlay.item_wrap.mobile_view > .read-more, .trending-posts .cq_overlay.item_wrap.mobile_view > .read-more, .latest-post-row .cq_standard.item_wrap.mobile_view > .read-more, .latest-post-row .cq_overlay.item_wrap.mobile_view > .read-more {
        display: none !important;
    }
    .cq_ad_space .ad_footer {
        position: relative;
    }
    .latest-wrapper .mobile_view .item_content {
        padding-top: 1rem !important;
    }
}

/* BOF Vertical Styles */
.latest-post-row.vertical {
    grid-column-gap: 0 !important;
}
.latest-post-row .cq_vertical {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(300px, auto);
    grid-template-rows: 128px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 1px solid #e1e1e1;
}
.latest-post-row .cq_vertical .item_content {  
    grid-area: 1 / 1 / 2 / 3;
    padding: 0.5rem;
    display: flex;
    align-content: flex-end;
    flex-flow: wrap;
}
.latest-post-row .cq_vertical .item_content time {
    text-transform: uppercase;
    font-size: 0.75rem;
}
.latest-post-row .cq_vertical .item_image { 
    grid-area: 1 / 3 / 2 / 4; 
    position: relative;
}
.latest-post-row .cq_vertical .item_content h3 {
    width: 100%;
    font-size: 1rem;
    margin: 0;
}
.latest-post-row .cq_vertical .item_image a { 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    grid-area: 1 / 3 / 2 / 4; 
    position: relative;
}
.latest-post-row .cq_vertical .item_image a img {
    object-fit: cover;
    height: 100%;
}
.cq_vertical {
    
    time {
        display: none;
    }
}
/* BOF Vertical Styles */