/*BOF Category Carousel */
.latest-wrapper {
    &.cq_category_carousel,
    &.single-cruise-type-wrapper {
        
        .item_wrap {
            max-height: 250px;
            border-radius: 15px;
            overflow: hidden;
            
            @media screen and (min-width: 768px) {
                max-height: 325px !important;
            }
        }
    }
}
/*EOF Category Carousel */

/* BOF CQ Standard Carousel */
.cq-owl-carousel {
    
    .owl-stage-outer {
        min-height: 80px;
    }
    
    .owl-stage {
        display: flex;
        align-items: center;
        
        .owl-item {
            
            > div {
                display: flex;
                align-items: center;
                justify-content: center;
                
                > a {
                    max-width: 150px;
                    
                    > img {
                        border-radius: 5px;
                        min-height: 80px;
                        object-fit: contain;
                    }
                }
            }
        }
        
    }
}
/* EOF CQ Standard Carousel */