/* BOF Delete Modal */
.modal-open {
  overflow: hidden; 
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
  -webkit-overflow-scrolling: touch;

}
  .modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translate(0, -25%); 
}
  .modal.show .modal-dialog {
    transform: translate(0, 0); 
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; 
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px; 
}

.modal-content {
  position: relative;
  background-color: #fff;
  text-align: center;
  background-clip: padding-box;
/*  border: 1px solid rgba(0, 0, 0, 0.2);*/
  border-radius: 1rem;
  outline: 0; 
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: rgba(0,0,0,0.85); 
}
  .modal-backdrop.fade {
    opacity: 0; 
}
  .modal-backdrop.show {
    opacity: 0.5; 
}

.modal-header {
    text-align: center;
  padding: 15px;
/*  border-bottom: 1px solid #e5e5e5;*/ 
}

  .modal-header::after {
    content: "";
    display: table;
    clear: both; 
}

.modal-header .close {
  position: absolute;
  margin-top: -2px;
  top: 15px;
  right: 15px;
}
.modal-icon {
    font-size: 4rem;
    display: block;
    padding: 1.5rem;
    color: #c95d54;
}
.modal-title {
  margin: 0;
  line-height: 1.5; 
}

.modal-body {
  position: relative;
  padding: 15px; 
}

.modal-footer {
    text-align: center;
  padding: 15px;
/*  border-top: 1px solid #e5e5e5;*/ 
}
  .modal-footer::after {
    content: "";
    display: table;
    clear: both; 
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll; 
}

@media (min-width: 544px) {
  .modal-dialog {
    max-width: 500px;
    margin: 30px auto; 
    }
  .modal-sm {
    max-width: 300px; 
    } 
}

@media (min-width: 992px) {
  .modal-lg {
    max-width: 900px; 
    } 
}

.fade {
  opacity: 0;
  transition: opacity .15s linear;
    
    &.show {
        opacity: 1;
    }
}
/* EOF Delete Modal */