/* BOF Full Screen Search */
.search-popup-container {
	position: relative;
	padding: 10px;
}
.close-icon {
	position: absolute;
	top: 1.2rem;
    right: 1.2rem;
	color: #333;
	cursor: pointer;
	float: right;
	padding: 0;
}
.search-popup-container form {
	margin-bottom: 0;
}
.search-box-fs {
	z-index: 10000 !important;
}
.search-popup-overlay {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(255,255,255,0.99);
	z-index: 9999 !important;
}
.search-box-fs {
	display: none;
	margin-top: 100px;
	transition: all 0.8s ease-in-out;
}
#full-screen-search-input {
	background-color: transparent;
	padding: 1rem 0;
	font-size: 2.5rem;
	border-width: 0px 0px 2px 0px;
	box-shadow: none;
	border-bottom: 2px solid rgba(66,164,162, 0.3);
	transition: all 0.8s ease-in-out;
	color: #000000;
	font-weight: 300;
	display: block;
	width: 100%;
}
#full-screen-search-input::-moz-placeholder, #full-screen-search-input::placeholder, #full-screen-search-input::-webkit-placeholder {
 color: rgba(0, 0, 0, 0.2) !important;
}
#full-screen-search-input::-webkit-input-placeholder {  /*WebKit browsers */
 color: #000000;
 opacity: 0.3;
}
#full-screen-search-input::-moz-placeholder { /*Mozilla Firefox 4 to 18 */
 color: #333333 !important;
 opacity: 0.3;
}
#full-screen-search-input::-moz-placeholder {  /*Mozilla Firefox 19+ */
 color: #ffffff !important;
 opacity: 0.3;
}
#full-screen-search-input::-ms-input-placeholder {  /*Internet Explorer 10+ */
 color: #CACACA !important;
}
#full-screen-search-input:focus {
	border-width: 0px 0px 2px 0px;
	border-bottom: 2px solid rgba(66,164,162, 1);
}
.close-icon {
	width: 16px;
	height: 20px;
}
/* EOF Full Screen Search */