/* BOF CQ Large CTA */
.cq-cta-wrap {
    min-height: 400px;
    max-height: 70vh;
    border-radius: 1rem;
    padding: 1.5rem;
    background-size: cover;
    background-position: center center;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;

    .cq-cta-content {
        color: #FFFFFF;
        
        &.to-right {
            margin-left: auto;
        }
        
        &.to-left {
            margin-right: auto;
        }
        
        &.to-center {
            margin: auto;
        }
        
        .cta-button-container {
            padding-top: 1rem;
            position: relative;
            
            a {
                @media screen and (max-width: 480px) {
                    display: block;
                }
                
                &:last-of-type {
                    margin-left: 1rem;
                    
                    @media screen and (max-width: 480px) {
                        margin: 1rem 0;
                    }
                }
            }
        }
    }
    
    &.text-light {
        
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: -webkit-linear-gradient(rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.03) 100%);
            background: -o-linear-gradient(rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.03) 100%);
            background: linear-gradient(rgba(0,0,0,0.85) 0%, rgba(0,0,0,0.03) 100%);
            background-size: 100% 200%;
            background-position: bottom center;
            transition: all 0.5s ease-in-out;
            content: "";
            display: block;
        }
        
        .cq-cta-content {
            z-index: 1;
            
            h1,
            h2,
            h3,
            p {
               color: #ffffff; 
            }
        }
        
        input {
            background-color: transparent;
            color: white;
            
            &::placeholder {
                color: rgba(255,255,255,0.5);
            }
            
            &:focus,
            &:focus-visible {
                outline: none;
                
            }
        }
    }
    
    &.text-dark {
        
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.03) 100%);
            background-size: 100% 200%;
            background-position: bottom center;
            transition: all 0.5s ease-in-out;
            content: "";
            display: block;
        }
        
        .cq-cta-content {
            
            h1,
            h2,
            h3,
            p {
               color: #000000; 
            }
        }
    }
    
    &:hover {
        
        &::before {
            background-position: top center;
        }
    }
    
}
/* EOF CQ Large CTA */