/* BOF CQ Large CTA */
.cq-cta-wrap {
    min-height: 400px;
    max-height: 70vh;
    border-radius: 1rem;
    padding: 1.5rem;
    background-size: cover;
    background-position: center center;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    margin-bottom: 2rem;

    .cq-cta-content {
        color: #FFFFFF;
        
        &.to-right {
            margin-left: auto;
        }
        
        &.to-left {
            margin-right: auto;
        }
        
        &.to-center {
            margin: auto;
        }
        
        .cq-cta-countdown {
            font-family: $font-family-monospace;
            font-weight: bold;
            line-height: 2rem;
            padding: 0.5rem 1rem;
            min-height: 75px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            
            @media screen and (min-width: 768px) {
                min-height: 77.5px;
            }
            
            .end-message {
                font-size: 1.5rem;
            }
            
            .time-wrap {
                text-align: center;
                margin-right: 0.5rem;
                
                &:last-of-type {
                    margin-right: 0;
                }
                
                span {
                    font-size: 0.75rem;
                    text-transform: uppercase;
                    font-weight: 300;
                }
                
                .time-content {
                    overflow: hidden;
                    
                    span {
                    
                        &.active,
                        &.active-1 {

                            > span {
                                position: relative;
                                
                                &:after {
                                    content: attr(data-numberold);
                                    position: absolute;
                                    background-color: white;
                                    height: 50%;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    display: flex;
                                    align-items: end;
                                    overflow: hidden;
                                    justify-content: center;
                                    border-radius: 0 0 0.25rem 0.25rem;
                                    z-index: 1;
                                }

                                &:before {
                                    content: attr(data-number);
                                    position: absolute;
                                    height: 50%;
                                    bottom: 0;
                                    left: 0;
                                    right: 0;
                                    border-radius: 0 0 0.25rem 0.25rem;
                                    background-color: white;
                                    /*border-top: 1px solid $gray-20;*/
                                    transform-origin: top;
                                    display: flex;
                                    align-items: end;
                                    overflow: hidden;
                                    justify-content: center;
                                    z-index: 2;
                                    box-shadow: inset 0 0 2px 0 rgba(255,255,255,.4),
                                        inset 0 0 3px 0 rgba(0,0,0,.4),
                                        inset 0 0 3px 5px rgba(0,0,0,.05),
                                        2px 2px 4px 0 rgba(0,0,0,.25);
                                }
                            }
                        }
                        
                        &.finished {
                            
                            > span {
                                position: relative;
                                
                                &:after {
                                    content: "";
                                    position: absolute;
                                    top: 50%;
                                    left: 0;
                                    right: 0;
                                    box-shadow: inset 0 0 2px 0 rgba(255,255,255,.4),
                                        inset 0 0 3px 0 rgba(0,0,0,.4),
                                        inset 0 0 3px 5px rgba(0,0,0,.05),
                                        2px 2px 4px 0 rgba(0,0,0,.25);
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
                    
                    .active {
                        
                        > span {
                            &:first-of-type {
                                
                                &:before {
                                    animation: slidedown 0.5s 1 linear forwards;
                                    
                                }
                            }
                            
                            &:nth-of-type(2) {
                                
                                &:before {
                                    animation: slidedown 0.5s  1 linear forwards;
                                    
                                }
                            }
                        }
                        
                        &-1{
                            > span:nth-of-type(2) {
                                
                                &:before {
                                    animation: slidedown 0.5s  1 linear forwards;
                                    
                                }
                            }
                        }
                    }
                    
                    > span {
                        display: flex;
                    
                        > span {
                            font-family: "Courier", "Courier New", "monospace";
                            margin-right: 0.1rem;
                            font-size: 2rem;
                            line-height: 2.5rem;
                            padding-top: 0.1rem;
                            font-weight: bold;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: white;
                            color: black;
                            border-radius: 0.25rem;
                            box-shadow: inset 0 0 2px 0 rgba(255,255,255,.4),
                                        inset 0 0 3px 0 rgba(0,0,0,.4),
                                        inset 0 0 3px 5px rgba(0,0,0,.05),
                                        2px 2px 4px 0 rgba(0,0,0,.25);
                            
                            @media screen and (min-width: 768px) {
                                font-size: 3rem;
                                padding-top: 0.25rem;
                                width: 2.1rem;
                            }
                            
                            &:last-of-type {
                                margin-right: 0;
                            }
                            
                            &.active {
                                -webkit-animation: flipdown .5s .5s linear both;
                            }
                            
                        }
                    }
                }
            }
        }
        
        .cta-button-container {
            padding-top: 1rem;
            position: relative;
            
            a {
                @media screen and (max-width: 480px) {
                    display: block;
                }
                
                &:last-of-type {
                    margin-left: 1rem;
                    
                    @media screen and (max-width: 480px) {
                        margin: 1rem 0;
                    }
                }
            }
        }
    }
    
    &.text-light {
        
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: -webkit-linear-gradient(rgba(0,0,0,0.55) 0%, rgba(0,0,0,0.05) 100%);
            background: -o-linear-gradient(rgba(0,0,0,0.55) 0%, rgba(0,0,0,0.05) 100%);
            background: linear-gradient(rgba(0,0,0,0.55) 0%, rgba(0,0,0,0.05) 100%);
            background-size: 100% 200%;
            background-position: bottom center;
            transition: all 0.5s ease-in-out;
            content: "";
            display: block;
        }
        
        .cq-cta-content {
            z-index: 1;
            background-color: var(--category-colour-75);
            padding: 1rem;
            border-radius: 0.75rem;
            
            h1,
            h2,
            h3,
            p {
               color: #ffffff; 
            }
        }
        
        input {
            background-color: transparent;
            color: white;
            
            &::placeholder {
                color: rgba(255,255,255,0.9);
            }
            
            &:focus,
            &:focus-visible {
                outline: none;
                
            }
        }
    }
    
    &.text-dark {
        
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(180deg, rgba(255,255,255,0.6) 0%, rgba(255,255,255,0.03) 100%);
            background-size: 100% 200%;
            background-position: bottom center;
            transition: all 0.5s ease-in-out;
            content: "";
            display: block;
        }
        
        .cq-cta-content {
            padding: 1rem;
            border-radius: 0.75rem;
            
            h1,
            h2,
            h3,
            p {
               color: #000000; 
            }
        }
    }
    
    &:hover {
        
        &::before {
            background-position: top center;
        }
    }
    
}

body.play ul section.active .down {
    z-index: 2;
    -webkit-animation: flipdown .5s .5s linear both;
}

@-webkit-keyframes slidedownstop {
    0% {
        -webkit-transform: rotateX(-90deg);
    }  
    100% {
        -webkit-transform: rotateX(0deg);
    }
}

@-webkit-keyframes slidedown {
    0% {
        -webkit-transform: rotateX(-180deg);
    }  
    100% {
        -webkit-transform: rotateX(0deg);
    }
}

@-webkit-keyframes flipdown {
    0% {
        -webkit-transform: rotateX(90deg);
    }  
    80% {
        -webkit-transform: rotateX(5deg);
    } 
    90% {
        -webkit-transform: rotateX(15deg);
    }
    100% {
        -webkit-transform: rotateX(0deg);
    }
}
/* EOF CQ Large CTA */