/* BOF Newsletter form styles */
.newsletter-footer {
    padding: 2rem;
    background-color: white;
    
    h1 {
        color: #000000;
        margin: 0;
    }
    
    p {
        color: $gray-80;
        font-size: 0.875rem;
        line-height: 1.375rem;
    }
    
    fieldset {
        border: none;
        outline: none;
        margin: 0;
        
        &.publications {
            
            label {
                color: $black;
                font-size: 0.875rem;
                line-height: 1.375rem;
                margin-bottom: 0.5rem;
                font-weight: bold;
            }
        }
        
        input {
            
            &:focus,
            &:focus-visible {
                outline: 0px solid $brand-colour;
            }
        }
    }
}


.vc_newsletter {
    position: relative;
    display: block;
    width: 100%;
    background: radial-gradient(circle, rgba(229,147,131,1) 0%, rgba(246,208,187,1) 66%, rgba(254,247,242,1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% top;
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    
    .newsletter-footer {
        width: 100%;
        max-width: 715px;
        border-radius: 1rem;
        
        @media screen and (min-width: 768px) {
            margin: 3.5rem auto;
        }
    }
}
.newsletter-footer .row-eq-height {
    align-items: center;
}

.newsletter-form {
    display: flex;
    
    h5 {
        margin: 0 0 1rem;
    }
    
    .input-wrap {
        width: 100%;
        margin-right: 0.5rem;
    }
    
    button {
        
        &#newsletter_submit {
            padding: 0 0.5rem;
        
            @media screen and (min-width: 768px) {
                padding: 0 1rem;
            }
        }
        
        .material-symbols-outlined {
            margin: 0;
        }
    }
    
}

.newsletter-block {
    
    h2 {
        margin-top: 0;
    }
}
@media screen and (max-width: 767px) {
    .newsletter-footer h3 {
        display: block;
        text-align: center;
    }
    .newsletter-footer p {
      display: block;
      text-align: center;
      padding: 0 0 1rem;
    }
}
.newsletter-form.full fieldset {
    padding-bottom: 1rem;
}
.newsletter-form.full fieldset:last-of-type {
    padding-bottom: 0;
}
.newsletter-form.full fieldset input:not([type=checkbox]):not([type=radio]) {
    width: 100%;
}
.newsletter-form.full .show_publications {
    display: none;
    float: left;
    padding-top: 1rem;
    width: 100%;
}
.newsletter-form.full fieldset.publications p {
    margin-bottom: 1rem;
    font-weight: bold;
}
.newsletter-form.full fieldset.publications .publication-wrapper {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    color: #fff;
    text-align: left;
}
.newsletter-form.full fieldset.publications .publication-wrapper input[type=checkbox] {
    margin-right: 5px;
    width: auto;
}
.newsletter-form.full fieldset button {
    width: 100%;
}
.newsletter-form.full .newsletter-buttons {
    display: flex;
}
.newsletter-form.full button {
    margin: 0;
}
.newsletter-form.full button.newsletter_submit {
    min-width: 70%;
}
.newsletter-form.full a.newsletter_cancel {
    border: 1px solid #ffffff;
    margin: 0 0 0 0.5rem;
    white-space: nowrap;
}
.newsletter-footer .vc-newsletter-submit-result {
    padding: 0 15px;
    display: none;
}
.newsletter-footer .vc-newsletter-submit-result p {
    text-align: center;
    margin: 15px 0 0;
    padding: 0.5rem;
    font-weight: bold;
}
.newsletter-footer .vc-newsletter-submit-result p.success {
    color: #47a164;
}
.newsletter-footer .vc-newsletter-submit-result p.error {
    color: red;
}
#home-newsletter {
    position: relative;
    margin: 15px 0 50px;
}
#home-newsletter p.newsletter-message {
    color: #000000;
}
#home-newsletter:before {
    position: absolute;
    content: " ";
    left: -10px;
    bottom: -10px;
    width: 50px;
    height: 50px;
    border-left: 1px solid #000000;
    border-top: none;
    border-bottom: 1px solid #000000;
    border-right: none;
    display: block;
}
#home-newsletter:after {
    position: absolute;
    content: " ";
    right: -10px;
    top: -10px;
    width: 50px;
    height: 50px;
    border: 1px solid #000000;
    border-right: 1px solid #000000;
    border-top: 1px solid #000000;
    border-bottom: none;
    border-left: none;
    display: block;
}
#home-newsletter h3 {
   margin-bottom: 0px;
}