/* BOF Subscribe Form Styles */
.step-header h2 {
    margin-bottom: 60px;
}
.wpcf7 h4 {
    font-family: 'Merriweather', serif;
}
.wpcf7 button {
    font-weight: normal !important;
    text-transform: uppercase;
}
.wpcf7 .field-section > div > label {
    font-weight: bold;
    text-transform: uppercase;
}
.wpcf7 .field-section .wpcf7-list-item-label {
    font-weight: normal;
}
.wpcf7 .field-section input[type=text], .wpcf7 .field-section select {
    padding: 1rem;
    border: 1px solid #6b6b6b;
    font-weight: normal;
    line-height: 1;
}
.wpcf7 .wpcf7-form-control-wrap {
    display: block;
    margin-bottom: 45px;
}
.wpcf7 .button-radio label span, .wpcf7 .button-checkbox label span, .wpcf7 .terms-conditions label span {
    padding: 1rem;
    border: 1px solid #6b6b6b;
    background-color: #fff;
    text-transform: uppercase;
    color: #3c3c3c;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 0.875rem;
}
.wpcf7 .button-radio input, .wpcf7 .button-checkbox input, .wpcf7 .terms-conditions label > input {
    display: none !important;
}
.wpcf7 .button-radio .wpcf7-list-item, .wpcf7 .button-checkbox .wpcf7-list-item, .wpcf7 .terms-conditions .wpcf7-list-item {
    display: inline-block;
    margin: 0;
}
.wpcf7 .travel-agent-type .button-radio .wpcf7-list-item {
    margin-right: 1rem;
}
.wpcf7 .button-radio input:checked+span, .wpcf7 .button-checkbox input:checked+span, .wpcf7 .terms-conditions label > input:checked+span {
    background-color: #a1234a;
    color: #ffffff;
    border-color: #a1234a;
}
.wpcf7 .wpcf7-form-control-wrap:not(.travel-agent-type) .button-radio, .wpcf7 .wpcf7-form-control-wrap:not(.travel-agent-type) .button-checkbox {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
}
@media screen and (min-width: 768px) and (max-width: 1080px) {
    .wpcf7 .wpcf7-form-control-wrap:not(.travel-agent-type) .button-radio, .wpcf7 .wpcf7-form-control-wrap:not(.travel-agent-type) .button-checkbox {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}
@media screen and (max-width: 767px) {
    .wpcf7 .wpcf7-form-control-wrap .button-radio, .wpcf7 .wpcf7-form-control-wrap .button-checkbox {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: repeat(1, 1fr) !important;
    }
    .wpcf7 .button-radio .wpcf7-list-item, .wpcf7 .button-checkbox .wpcf7-list-item, .wpcf7 .terms-conditions .wpcf7-list-item {
        display: inline-block;
        margin: 0;
    }
}
.wpcf7 .button-subscribe {
    color: white;
    background-color: #a1234a;
    border: 1px solid #a1234a;
}
.wpcf7 .button-subscribe:disabled {
    opacity: 0.4;
}
.wpcf7 form .wpcf7-response-output {
    margin: 2em 0.5em 1em;
    padding: 0.5em 1em;
    border: 2px solid red;
    font-size: 1rem;
}
.cf7-check-all {
    position: absolute;
    bottom: 45px;
    color: #a1234a !important;
    font-size: 0.875rem;
}
/* EOF Subscribe Form Styles */