// title divider block scss

.sep-wrap {
    display: flex;
    margin-bottom: 2rem;
    font-family: $font-family-monospace;
    position: relative;

    @media only screen and (min-width: 768px) {
        margin-bottom: 2rem;
    }
    
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: black;
        top: 100%;
        left: 0;
        right: 0;
    }

    span {
        font-size: 1rem;
        margin-right: 0.5rem;
    }

    .sep-title {
        display: flex;
        align-items: center;
        background: black;
        color: white;
        border-radius: 0.5rem 0.5rem 0rem 0rem;
        padding: 0.25rem 0.75rem;
        font-family: $font-family-monospace;
        font-size: 0.875rem;
        line-height: 1.125rem;
        text-transform: uppercase;
        margin: 0;

        @media only screen and (min-width: 768px) {
            padding: 0.5rem 0.75rem;
        }

        span {
            font-weight: bold;
            transform: rotate(90deg);
        }
    }

    .sep-link {
        margin-left: auto;
    }

    .view-all {
        display: flex;
        align-items: center;
        color: var(--category-colour);
        text-transform: uppercase;
        font-size: 0.875rem;
        margin-bottom: 0.5rem;
        align-self: flex-end;
        margin-left: auto;

        @media only screen and (min-width: 768px) {
            margin-bottom: 0.4375rem;  
        }
    }
}

.sep-wrap::before {
    background-color: black;
    top: 100%;
}

