/* BOF Responsive Video */
.video-embed {
	position: relative !important;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	margin-bottom: 1em;
}
.video-embed iframe,
.video-embed object,
.video-embed embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.wpb_video_wrapper > .video-embed {
    position: static !important;
	padding-bottom: inherit;
	padding-top: 30px;
}
/* EOF Responsive Video */

/* BOF Captivate player embed */
.captivate-embed {
	width: 100%;
	
	iframe {
		width: 100%;
		height: 200px;
		border-radius: 0.5rem;
	}
}