.listing-container {
    padding: 1.875rem !important;
    position: relative;
    background: #F9F9FA;
    border: 1px solid $gray-20;
    border-radius: 1rem;
    
    h3 {
            
        @media screen and (min-width: 768px) {
            max-width: 70%;
        }
    }
    
    .listing-content {
        position: relative;
        
        .category {
            margin: 0rem 0rem 5px;
            font-size: 0.875rem;
            color: $brand-colour;
            font-family: $font-family-monospace;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            
            span {
                font-weight: 600;
                font-size: 1rem;
                margin-right: 4px;
            }
        }
        
        .entry-title {
            margin: 0rem 0rem 1.25rem;
        }
        
        .listing-icon-info {
            color: #848596;
            display: flex;
            font-family: $font-family-monospace;
            flex-direction: column;
            margin-bottom: 1rem;
            
            @media screen and (min-width: 768px) {
                flex-direction: unset;
            }

            .meta {
                display: flex;
                align-items: center;
                margin: 0rem;
                gap: 4px;
                display: flex;
                font-family: $font-family-monospace;
                font-size: 0.875rem;
                
                &:not(:last-of-type) {
                    margin-right: 1rem;
                }
                    
                .material-symbols-outlined {
                    font-size: 1.2rem;
                }
            }
        }
        
        .logo-container {
            position: absolute; 
            top: 0; 
            right: 0;
            width: auto;
            max-width: 30%;
            display: none;
            
            @media screen and (min-width: 768px) {
                display: block;   
            }
            
            img {
                max-width: 300px;
                max-height: 90px;
                object-fit: contain;
                mix-blend-mode: multiply;
                width: 100%
            }
        }
        
        .listing-description {
            margin: 0rem 0rem 1rem;
        }
        
        .listing-footer {
            
            @media screen and (min-width: 768px) {
                padding: 0rem; 
                margin-left: auto;
                width: 12.5rem; 
            }
        }
    }
}

.no-results {
    text-align: center;
    font-family: $font-family-sans-serif;
    padding: 1.875rem !important;
    position: relative;
    background: $gray-05;
    border: 1px solid $gray-20;
    border-radius: 1rem;
    
    h3 {
        margin: 20px 0px;
    }
    p {
        color:#6F7181;
    }
}

.listings-wrapper {
    display: grid;
    gap: 1.25rem;
    
    @media screen and (min-width: 1280px) {
        gap: 1.875rem;
    }
}