.listing-title {
  margin-top: 0px;
  padding: 0px;
  font-size: 40px; }

.listing-category {
  color: #D34E2E;
  font-family: JetBrains Mono;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  gap: 8px; }

.listing-details {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  color: #848596;
  font-family: 'JetBrains Mono'; }
  .listing-details p {
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    gap: 5px;
    border: solid 1px #DCDCE3;
    border-radius: 10px;
    padding: 2px 8px;
    background: #F9F9FA;
    margin: 0px; }
  .listing-details span {
    font-size: 1.25rem; }

.entry-header .company-logo-div {
  right: 1rem;
  top: 0rem; }

.entry-header .company-logo-div img {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 150px; }

.entry-header .col-md-12 {
  position: relative; }

@media screen and (min-width: 768px) {
  .entry-header .company-logo-div {
    position: absolute;
    max-width: 10rem;
    padding: 1rem; } }
