/* BOF Destinations */
.destination,
.article-image {
    
    img {
        border-radius: 1rem;
    }
}
.destination-title {
    position: relative;
    width: 100%;
    
    @media screen and (min-width: 768px) {
        padding-left: 2rem;
    }
    
    &.no-image {
        padding: 2rem;
        background-color: $gray-05;
        border: 1px solid $gray-20;
        border-radius: 1rem;
        margin-left: 0 !important;
        
        @media screen and (min-width: 768px) {
            padding: 2rem;
        }
    }
    
    h3 {
        margin: 0 0 1rem;
    }

    h1 {
        display: block;
        width: 100%;
        padding: 15px 0 !important;
        line-height: 1 !important;
        margin: 0;
    }
    
    p {
        &.section-name {
            display: block;
            margin: 0;
            width: 100%;
            
            @media screen and (max-width:767px) {
                padding-top: 1rem;
            }
        }
    }
    
    img {
        width: auto !important;
        max-height: 75px;
    }
}

.single-cruise-type-wrapper {
    
    &.right {
        
        .destination-title {
            padding-left: 0;
            padding-right: 2rem;
        }
        
    }
}

.destination-about, 
.destination-need-to-know, 
.destination-gallery, 
.destination-what-we-love, 
.destination-feature, 
.destination-cruise-lines, 
.cruise-type-news, 
.cruise-type-regions, 
.destination-related, 
.cruise-type-lines {
    margin-bottom: 2rem;
    
    h2 {
        margin-bottom: 2rem;
    }
}

.destination-about {
    
    h2 {
        margin: 0;
    }
}

.destination-feature {
    
    .destination-title {
        padding-top: 1rem;
    }
}

.know-wrapper, 
.selling-wrapper {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 30px;
    
    @media screen and (min-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
    }
    
    @media screen and (max-width: 991px) {
        grid-template-columns: auto auto;
    }
    
    @media screen and (max-width: 570px) {
        grid-template-columns: auto;
    }
}

.know-item, 
.selling-item {
    padding: 1.5rem;
    background-color: $gray-05;
    border: 1px solid $gray-20;
    border-radius: 1rem;
    
    h4, h3 {
        margin: 0;
    }
}

.destination-carousel,
.region-carousel {
    
    h3 {
        margin: 0;
    }
}

.points-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    
    @media screen and (min-width: 768px) {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 30px;
        
        .row-span-2 {
            grid-row: 1 / 3;
        }
    }
}

.point-item {
    background-color: $gray-05;
    border: 1px solid $gray-20;
    border-radius: 1rem;
    
    &.row-span-1 {
        
        .point-content {
            display: flex;
            align-items: center;
            align-content: center;
            flex-wrap: wrap;
            height: 100%;
        }
    }
    
    .point-img {
        img {
            max-height: 300px;
            object-fit: cover;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    
    .point-content {
        padding: 30px;
        
        h4 {
            margin: 0;
        }
        
        ul {
            padding-left: 1rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .cruise-lines-wrapper, .latest-wrapper.cruise-lines-wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 30px;
        grid-template-rows: repeat(1, 1fr);
    }
}
@media screen and (max-width: 767px) {
    .cruise-lines-wrapper, .latest-wrapper.cruise-lines-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        grid-template-rows: repeat(1, 1fr);
    }
}
.cruise-lines-wrapper.top {
  margin-bottom: 30px;
}
.latest-wrapper .cruise-lines-item, .cruise-lines-wrapper .cruise-lines-item {
    display: flex;
    padding: 30px;
    align-content: center;
    flex-wrap: wrap;
    background-color: $gray-05;
    border-radius: 10px;
    position: relative;
    
    img {
        mix-blend-mode: multiply;
    }
}
.cruise-lines-see-more {
    display: none;
}
.cruise-lines-item .ships {
   position: absolute;
  top: 5px;
  left: 5px;
  padding: 0 0.3rem;
  font-size: 0.875rem;
  display: inline-block;
  font-weight: bold;
  color: var(--category-colour);
}
.cruise-line-title {
    border-bottom: 1px solid #e3e3e3;
}
.cruise-line-about {
    padding: 0px !important;
}
.udg-sponsor-wrap {
    width: 145px;
    background-color: $gray-05;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    
    @media screen and (max-width:767px) {
        position: absolute;
        right: 1rem;
        top: 0;
        transform: translateY(-60%);
        margin-bottom: 0;
        
        &::before {
            content: "SPONSORED BY";
            position: absolute;
            top: 0.5rem;
            left: 1rem;
            font-size: 0.75rem;
        }
    }
    
    p {
        font-size: .75rem;
        margin: 0 0.75rem;
        line-height: 1;
        padding-top: 1rem;
        
        @media screen and (max-width:767px) {
            display: none;
        }
    }
    
    .udg-sponsor {
        width: 145px;
        padding: 15px;
        border-radius: 10px;
        
        @media screen and (max-width:767px) {
            padding-top: 2rem;
            box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.2);
        }
        
        a {
            display: block;
            text-align: center;
        }
        
        img {
            mix-blend-mode: multiply;
        }
    }
}

@media screen and (min-width: 768px) {
    .latest-wrapper.ship-carousel {
        grid-template-columns: repeat(3, 1fr);
    }
}
.cq_overlay.item_wrap > .operator-logo {
    height: 38px;
    position: absolute;
    padding: 5px;
    background-color: #fff;
    display: block;
    top: 0.5rem;
    left: 0.5rem;
    border-radius: 8px;
    box-shadow: 1px 1px 6px 0 rgba(0,0,0,0.2);
}
.cq_overlay.item_wrap > .operator-logo > img {
    height: 100%;
}

.cq_overlay {
    
    a.destination-link {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
}
/* EOF Destinations */