.cruise-line-header,
.cruise-type-header,
.cruise-ship-header {
    
    .article-image {
        
        img {
            object-fit: cover;
            border-radius: 1rem;
        }
    }
    
    .destination-title {
        
        @media screen and (min-width: 768px) {
            margin-left: 1rem;
        }
    }
}

.article-links {
    border-top: 1px solid $gray-20;
    border-bottom: 1px solid $gray-20;
}

