.filter-events-title {
  margin: 0; }

.event-calendar-wrapper form#filter {
  padding: 15px 0;
  margin-bottom: 30px;
  margin-right: 15px; }

.event-fields {
  margin-bottom: 1.5rem; }

.eventSearchFiter select {
  padding: 0.75rem; }

@media screen and (max-width: 544px) {
  .event-calendar-wrapper form#filter div.col-sm-4:not(:last-of-type) .select-wrap {
    margin-bottom: 15px; } }
.newlistevents .listing-container {
  padding: 1.25rem !important; }
  @media screen and (min-width: 768px) {
    .newlistevents .listing-container h3 {
      max-width: 70%; } }
  .newlistevents .listing-container .listing-content .listing-icon-info .meta {
    align-items: flex-start; }
    .newlistevents .listing-container .listing-content .listing-icon-info .meta .material-symbols-outlined {
      margin-top: 0.25rem; }
