.company-wrap, .services-wrap, .approvals-wrap, .contact-wrap, .upgrade-section, .component-wrap, .airframe-wrap, .specialist-wrap, .engine-wrap, .airport-wrap, .airlines-wrap, .categories-wrap, .category-image-wrap {
    padding: 0 1rem;
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 30px;
    border: 1px solid $gray-20;
    overflow: hidden;
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.12);
    
    h4 {
        padding: 0.75rem 1rem;
        margin: 0 -1rem 1rem;
        display: block;
        background-color: $gray-05;
        border-bottom: 1px solid $gray-20;
    }
}
.upgrade-section {
    padding: 1rem;
    
    row {
        align-items: center;
    }
}
.upgrade-section .row-eq-height {
    align-items: center;
    
    .col-md-9 {
        position: relative;
        font-size: 0.875rem;
        display: flex;
        align-items: center;
    }
}
.services-wrap, .approvals-wrap, .component-wrap, .airframe-wrap, .engine-wrap, .specialist-wrap, .airport-wrap, .airlines-wrap {
    display: none;
}
.row.contact-add {
    margin-bottom: 60px;
}
.chosen-container {
    min-width: 300px;
}
.category-image-wrap {
    
    button {
        margin: 1rem 0;
    }

    label {
        width: 100%;
    }
}

.cq-upload {
    display: block;
    width: 100%;
}
.cq-remove {
    margin: 1rem 0 !important;
}
.form-control.error {
    border-color: red;
}
label.error {
    color: red;
}
.logo-thumbnail img, .featured-thumbnail img {
    width: auto;
}
.service-wrap {
    
    label {
        font-weight: 500;
    }

    input[type=radio], 
    input[type=checkbox] {
        margin: 0 0.5rem 0 0;
        position: static;
        opacity: 1;
    }
}